.circularloading-container {
    position: absolute;
    margin: -33px 0px 0px 250px;

    .circularpath {
        height: 30px;
        width: 30px;
        border: 3px solid #01579b;
        border-radius: 50%;
        border-right-color: #b3e5fc;
        animation: spin 1s ease infinite;
    }

    @keyframes spin {
        100%{
            transform: rotate(360deg);
        }
    }


}

@media screen and (max-width: 480px) {
    .circularloading-container {
        position: absolute;
        margin: -33px 0px 0px 150px;

    }

}


.loadingscreen-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    // height: 400px;

    .loadingscreen-image {
        height: 200px;
        // width: 300px;
        //transition: all 2s ease-in-out;
        animation: growShrink 2s ease infinite;
    }

    @keyframes growShrink {
        50%{
            transform: scale(1.2);
        }
        // 100% {
        //     transform: scale(0.9);
        // }
    }
}

@media screen and (max-width: 480px) {
    .loadingscreen-container {

        .loadingscreen-image {
            height: 130px;
        }
    }

}

.incidence-skeleton-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .incidence-skeleton {
        width: 270px;
        gap: 10px;
        border: 1px solid #EEEEEE;
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 5px;

        .incidence-skeleton-title {
            width: 50%;
        }

        .incidence-skeleton-tags {
            display: flex;
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 480px) {
    .incidence-skeleton-wrapper {

        .incidence-skeleton {
            width: 100%;
        }

    }

}

.dashboard-skeleton-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    // border: 1px solid black;

    .dashboard-skeleton-a {

        background-color: #01579b;
        color: white;
        width: 750px; 
        height: 240px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px 10px 0px 20px ;
        box-shadow: 0px 10px 23px rgb(0 0 0 / 12%);

        .dashboard-skeleton-a-element {
            height: 20px;
            width: 30%;
            background-color: #eeeeee;
            border-radius: 10px;
            animation: skeleton 2s ease infinite;
    
            @keyframes skeleton {
                to{
                    opacity: 0.5;
                }
            }
        }

        .dashboard-skeleton-a-figure {
            height: 90px;
            width: 30%;
            background-color: #eeeeee;
            border-radius: 10px;
            animation: skeleton 2s ease infinite;
    
            @keyframes skeleton {
                to{
                    opacity: 0.5;
                }
            }
        }
    }

    .dashboard-skeleton-b {
        display: flex;
        flex-direction: column;
        width: 210px;
        height: 240px;
        // border: 1px solid black;
        gap: 20px;
        padding: 15px 10px 0px 20px ;
        box-shadow: 0px 10px 23px rgb(0 0 0 / 12%);

        .dashboard-skeleton-b-element {
            height: 20px;
            width: 60%;
            background-color: #eeeeee;
            border-radius: 10px;
            animation: skeleton 2s ease infinite;
    
            @keyframes skeleton {
                to{
                    opacity: 0.5;
                }
            }
        }

        .dashboard-skeleton-b-figure {
            height: 90px;
            width: 60%;
            background-color: #eeeeee;
            border-radius: 10px;
            animation: skeleton 2s ease infinite;
    
            @keyframes skeleton {
                to{
                    opacity: 0.5;
                }
            }
        }
    }

}