.update-container {
    padding: 10px;
}

.update-goBack {
    margin: 50px 0px -40px 40px;
    font-size: 20px;
    background-color: #03a9f4;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: box-shadow 0.5s;
}

.update-goBack:hover {
    -webkit-box-shadow: inset 70px 0 0 0 #0277bd;
    box-shadow: inset 70px 0 0 0 #0277bd;
}

.update-goBack-link {
    text-decoration: none;
    color: white;
}


.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    /* width: 400px; */
}

.update-form-header {
    font-weight:200;
    font-size: 30px;
    margin-bottom: 40px;
}

.update-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    /* width: 600px;  */
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.update-form form section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 41%;
    padding: 30px;
    border: 1px solid #01579b;
    border-radius: 2em;
}

.update-form form section:nth-child(3) {
    border-style: dashed;
}

.update-form .formInput{
    height: 30px;
    width: 400px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.update-form .formTextArea{
    height: 100px;
    width: 400px;
    padding: 25px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.update-form .formSelect{
    height: 50px;
    width: 400px;
    padding: 25px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.update-form form label {
    color: #01579b;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    margin: -6px 0px 0px -2px;
}

.update-activeStatus {
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.update-button {
    background-color: #01579b;
    color: white;
    height: 50px;
    border: none;
    border-radius: 20em;
    font-size: 20px;
    margin-top: 20px 0px 0px 0px;
    width: 300px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.update-button:hover {
    -webkit-box-shadow: inset 300px 0 0 0 #0277bd;
    box-shadow: inset 300px 0 0 0 #0277bd;
}


@media screen and (max-width: 480px) {
    .update-form form {
        width: 300px;
    }

    .update-form-header {
        font-size: 20px;
    }

    .update-form form section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 30px;
        border: 1px solid #01579b;
        border-radius: 2em;
    }

    .update-form .formInput{
        width: 300px;
    }

    .update-form .formTextArea{
        width: 300px;
    }

    .update-form .formSelect{
        width: 300px;
    }
    .update-form form button {
        width: 300px;
    }
}
