.incidence-container {
    padding: 10px;
    /* width: 100%; */
    /* width: 95%; */
    /* margin-bottom: 100px; */
}

.incidence-header {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    height: 70px;
    /* border: 1px solid black; */
    width: 93%;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0px 10px 23px rgb(0 0 0 / 3%);
    background-color: #e3f2fd;
    /* position: relative; */
}

.incidence-location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    /* justify-content: right; */
    margin: -40px 60px 30px 87%;
    /* border: 1px solid black; */
    max-width: max-content;
    /* padding: 10px; */
    position: relative;
}

.incidence-location span:nth-child(1) {
    /* color: #B2B2B2; */
    color: white;
    padding-top: 5px;
    font-size: 17px;
    position: absolute;
    margin-left: 20px;
}

.incidence-select {
    height: 50px;
    width: 150px;
    padding: 5px 5px 5px 5px;
    border: none;
    /* border-bottom: 1px solid #e0e0e0; */
    outline: none;  
    appearance: none;  
    /* background-color: #b3e5fc; */
    background-color: #0288d1;
    text-align: center;
    border-radius: 20rem;
    color: #fff;
}

.incidence-filter {
    height: 40px;
    width: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    background-color: #0288d1;
    border-radius: 20rem;
    color: white;
    margin: -80px 60px 30px 67%;
    position: absolute;
}

.incidence-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
    display: none;
    width: 95%;
}

.incidence-wrapper.active-content {
    gap: 10px;
    /* justify-content: space-around; */
    width: 99%;
}

.incidence-tabs-wrapper {
    display: flex;
    border: 1px solid #eeeeee;
    /* gap: 40px; */
    border-radius: 20px;
    max-width: max-content;
    padding: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 10px 30px -8px rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: center;
    margin: 50px auto 20px auto;
    overflow: hidden;
    /* height: 20px; */
}

.incidence-tabs-wrapper div:not(:last-child) {
    border-right: 1px solid #bdbdbd;
}

.incidence-tab {
    cursor: pointer;
    opacity: 0.6;
    font-size: 12px;
    padding: 7px 30px 7px 30px ;
    /* width: 200px; */
}

.incidence-cases {
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    position: relative;
}

.incidence-category {
    font-size: 12px;
    color: #01579b;
    border: 1px solid #01579b;
    /* max-width: max-content; */
    width: max-content;
    max-width: 230px;
    max-height: 18px;
    White-Space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 5px;
    border-radius: 50px;
}

.incidence-detail {
    max-height: 70px;
    white-space:normal;
    /* White-Space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
}

.done {
    color: #54B435;
    position: absolute;
    margin-left: 260px;
    margin-top: -6px;
    visibility: hidden;
}

.done.active {
    color: #54B435;
    visibility: visible;
    background-color: #fff;
}

.incidence-detail {
    font-size: 12px;
    opacity: 0.8;
}

.incidence-reporter {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    font-size: 11px;
    /* opacity: 0.5; */
}

.incidence-priority.High {
    color: #fff;
    background-color: #FD841F;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Medium {
    color: #fff;
    background-color: #FFC93C;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Immediate {
    color: #fff;
    background-color: #FF0032;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Low {
    color: #fff;
    background-color: #5F6F94;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-user,.incidence-date  {
    opacity: 0.6;
}

.active-tab {
    background-color: #01579b;
    color: white;
    /* border-bottom: 1px solid black; */
}

.active-content {
    display:flex;
}

@media only screen and (min-width: 320px) and (max-width: 400px){
    
    .incidence-location {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        /* justify-content: right; */
        margin: -19px 60px 30px 58%;
        /* border: 1px solid black; */
        max-width: max-content;
        /* padding: 10px; */
        position: relative;
    }
    
    .incidence-location span:nth-child(1) {
        /* color: #B2B2B2; */
        color: white;
        padding-top: 15px;
        font-size: 11px;
        position: absolute;
        margin-left: 20px;
    }
    
    .incidence-select {
        height: 30px;
        width: 120px;
        padding: 2px 2px 2px 2px;
        border: none;
        /* border-bottom: 1px solid #e0e0e0; */
        outline: none;  
        appearance: none;  
        /* background-color: #b3e5fc; */
        background-color: #0288d1;
        text-align: center;
        border-radius: 20rem;
        color: #fff;
        font-size: 10px;
    }
    
    .incidence-filter {
        height: 25px;
        width: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 2px 2px 2px 2px;
        font-size: 10px;
        background-color: #0288d1;
        border-radius: 20rem;
        color: white;
        margin: -60.4px 60px 30px 26%;
        position: absolute;
    }

    .incidence-cases {
        width: 100%;
    }
    
    .done {
        margin-left: 282px;
        margin-top: -6px;
    }

}

@media only screen and (min-width: 401px) and (max-width: 480px) {
/* @media screen and (max-width: 480px) { */
    .incidence-header {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 300;
        /* text-align: center; */
    }

    .done {
        margin-left: 200px;
        margin-top: -6px;
        visibility: hidden;
    }
    
    .incidence-location {
        /* align-items: center; */
        /* justify-content: center; */
        margin: -10px 0px 0px 70%;        
    }

    .incidence-location span:nth-child(1) {
        margin-left: 7px;
        font-size: 12px;
    }

    .incidence-select {
        height: 40px;
        width: 100px;
        padding: 7px 5px 5px 15px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        outline: none; 
        font-size: 12px;   
    }

    .incidence-filter {
        height: 30px;
        width: 60px;
        gap: 10px;
        padding: 5px 5px 5px 5px;
        font-size: 12px;
        background-color: #0288d1;
        border-radius: 20rem;
        color: white;
        margin: -40px 60px 30px 40%;
        position: absolute;
        cursor: pointer;
    }

    .incidence-cases {
        width: 100%;
        position: relative;
    }

    .done {
        color: #54B435;
        position: absolute;
        margin-left: 330px;
        margin-top: -6px;
    }
}

@media screen and (min-width: 1280px) {

    .incidence-header {
        /* width: 96.7%; */
        width: 94%;
    }

    .incidence-wrapper {
        width: 98%;
    }

    .incidence-wrapper.active-content {
        gap: 5px;
    }
}