.incidence-container {
    padding: 10px;
    /* width: 100%; */
    /* width: 95%; */
    /* margin-bottom: 100px; */
}

.incidence-header {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    height: 70px;
    /* border: 1px solid black; */
    width: 93%;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0px 10px 23px rgb(0 0 0 / 3%);
    background-color: #e3f2fd;
}

.incidence-location {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: right;
    margin: -70px 190px 30px 0px;
}

.incidence-location span:nth-child(1) {
    color: #B2B2B2;
    padding-top: 5px;
}

.incidence-select {
    height: 50px;
    width: 200px;
    padding: 10px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;    
}

.incidence-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
    display: none;
}

.incidence-tabs-wrapper {
    display: flex;
    border: 1px solid #eeeeee;
    /* gap: 40px; */
    border-radius: 20px;
    max-width: max-content;
    padding: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 10px 30px -8px rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: center;
    margin: 50px auto 20px auto;
    overflow: hidden;
    /* height: 20px; */
}

.incidence-tabs-wrapper div:not(:last-child) {
    border-right: 1px solid #bdbdbd;
}

.incidence-tab {
    cursor: pointer;
    opacity: 0.6;
    font-size: 12px;
    padding: 7px 30px 7px 30px ;
    /* width: 200px; */
}

.incidence-cases {
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    position: relative;
}

.incidence-category {
    font-size: 12px;
    color: #01579b;
    border: 1px solid #01579b;
    /* max-width: max-content; */
    width: max-content;
    max-width: 230px;
    max-height: 18px;
    White-Space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 5px;
    border-radius: 50px;
}

.done {
    color: #54B435;
    position: absolute;
    margin-left: 260px;
    margin-top: -6px;
    visibility: hidden;
}

.done.active {
    color: #54B435;
    visibility: visible;
    background-color: #fff;
}

.incidence-detail {
    font-size: 12px;
    opacity: 0.8;
}

.incidence-reporter {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    font-size: 11px;
    /* opacity: 0.5; */
}

.incidence-priority.High {
    color: #fff;
    background-color: #FD841F;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Medium {
    color: #fff;
    background-color: #FFC93C;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Immediate {
    color: #fff;
    background-color: #FF0032;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-priority.Low {
    color: #fff;
    background-color: #5F6F94;
    border-radius: 10px;
    padding: 0px 5px;
}

.incidence-user,.incidence-date  {
    opacity: 0.6;
}

.active-tab {
    background-color: #01579b;
    color: white;
    /* border-bottom: 1px solid black; */
}

.active-content {
    display:flex;
}


@media screen and (max-width: 480px) {
    .incidence-header {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 300;
        /* text-align: center; */
    }
    .incidence-location {
        align-items: center;
        justify-content: center;
        margin: 0px 0px 30px 0px;        
    }

    .incidence-select {
        height: 40px;
        width: 200px;
        padding: 10px 5px 5px 5px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        outline: none; 
        font-size: 12px;   
    }

    .incidence-cases {
        width: 100%;
        position: relative;
    }

    .done {
        color: #54B435;
        position: absolute;
        margin-left: 330px;
        margin-top: -6px;
    }
}

@media screen and (min-width: 1280px) {
    .incidence-wrapper {
        width: 98%;
    }
}