.dashboard-container {
    padding: 10px;
    /* width: 100%; */
    /* width: 95%; */
    /* margin-bottom: 150px; */
}

.dashboard-header {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    height: 70px;
    /* border: 1px solid black; */
    width: 93%;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    box-shadow: 0px 10px 23px rgb(0 0 0 / 3%);
    background-color: #e3f2fd;
}

.greetings {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: 300;
}

.user {
    color: #01579b;
    /* font-style: italic; */
    font-weight: 300;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    height: 30px;
    width: 30px;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    gap: 40px;
    /* width: 100%; */
    /* justify-content: space-between; */
    margin-top: 20px;
    /* border: 1px solid red; */
}

.facility_Stats {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 240px;
    box-shadow: 0px 10px 23px rgb(0 0 0 / 12%);
    background-color: white;
    margin-bottom: -10px; 
    position: relative;/*  This turns it to the parent of coverPhoto so that */
    overflow: hidden;/*  overflow:hidden will work */
}

.facility_Stats.total {
    background-color: #01579b;
    color: white;
    width: 750px; 

}

.facility_Stats.others {
    background-color: white;
    color: #000;
}

.facility_Stats_icon.total {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
    margin-left: 91%;
}

.facility_Stats_icon.ikeja {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #01579b;
    font-size: 30px;
    margin-left: 71%;
}
.facility_Stats_icon.ikejaClinic {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #01579b;
    font-size: 30px;
    margin-left: 71%;
}

.facility_Stats_icon.idejo {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #CB1C8D;
    font-size: 30px;
    margin-left: 71%;
}

.facility_Stats_icon.lss {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* color: #cddc39; */
    color: #CB1C8D;
    font-size: 30px;
    margin-left: 71%;
}

.facility_Stats_icon.fabac {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #00e676;
    font-size: 30px;
    margin-left: 71%;
}

.facility_Stats_icon.ikoyi {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ef6c00;
    font-size: 30px;
    margin-left: 71%;
}

.facility_Stats_header {
    margin-left: 5%;
    margin-top: -40px;
    font-weight: 300;
}

.facility_Stats_header.total {
    margin-left: 1.5%;
}

.facility_Stats_details {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.facility_Stats_status {
    display: flex;
    flex-direction: column;
}

.status_Open, .status_Closed {
        height: 15px;
        width: 75px;
        background-color: #fff;
        color: #0d47a1;
        /* border: 1px solid salmon; */
        border-radius: 20px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 5px;
        margin: 20px 0px 0px 10px;
}

.status_open.ikeja, .status_closed.ikeja {
    height: 15px;
    width: 75px;
    background-color: #039be5;
    color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}

.status_open.idejo, .status_closed.idejo {
    height: 15px;
    width: 75px;
    background-color: #f48fb1;
    color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}

.status_open.lss, .status_closed.lss {
    height: 15px;
    width: 75px;
    /* background-color: #cddc39; */
    background-color: #f48fb1;
    color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}

.status_open.fabac, .status_closed.fabac {
    height: 15px;
    width: 75px;
    background-color: #69f0ae;
    color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}

.status_open.ikoyi, .status_closed.ikoyi {
    height: 15px;
    width: 75px;
    background-color: #ffb74d;
    color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}



.figures_ {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.figures_ span:nth-child(1) {
    max-width: max-content;
}

.figures_ span:nth-child(2) {
    font-size: 10px;
    /* position: absolute; */
    font-style: italic;
    margin-top: -10px;
    margin-left: 10px;
}

.coverPhoto {
    position: absolute;
    /* margin: 90px 0px 0px 130px; */
    margin: 90px 0px 0px 120px;
    /* width: 80px;
    height: 80px; */
    width: 150px;
    height: 150px;
    opacity: 0.2;
}

.coverPhoto.total {
    position: absolute;
    /* margin: 90px 0px 0px 130px; */
    margin: 90px 0px 0px 600px;
    /* width: 80px;
    height: 80px; */
    width: 150px;
    height: 150px;
    opacity: 0.2;
}


.facilityStats {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 210px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    box-shadow: 0px 10px 23px rgb(0 0 0 / 12%);
    background-color: white;
    margin-bottom: 20px;
}

.facility {
    /* background-color: #7B2869; */
    /* color: white; */
    /* max-width: fit-content; */
    width: 90%;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.facility.ikejaAwolowo {
    /* background-color: white; */
    /* background-color: #7B2869; */
    background-color: #00337C;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facility.ikejaJones{
    /* background-color: white; */
    background-color: #01579b;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facility.victoriaIsland {
    /* background-color: white; */
    background-color: #7B2869;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facility.idejo {
    /* background-color: white; */
    background-color: #256D85;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facility.lss {
    /* background-color: white; */
    background-color: #7B2869;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facility.fabac {
    color: white;
    background-color: #9C254D;
    font-size: 15px;
    font-weight: bold;
}

.facility.ikoyi {
    color: white;
    background-color: #645CAA;
    font-size: 15px;
    font-weight: bold;
}

.facility.total {
    /* background-color: #CB1C8D; */
    /* background-color: white; */
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.facilityStats.ikejaJones {
    background-color: #01579b;
    color: white;
} 

.facilityStats.ikejaAwolowo {
    background-color: #00337C;
    color: white;
}
.facilityStats.victoriaIsland {
    background-color: #7B2869;
    color: white;
}

.facilityStats.idejo {
    background-color: #256D85;
    color: white;
}

.facilityStats.lss {
    background-color: #7B2869;
    color: white;
}

.facilityStats.fabac {
    color: white;
    background-color: #9C254D
} 

.facilityStats.ikoyi {
    color: white;
    background-color: #645CAA;
}

.facilityStats.total {
    background-color: #CB1C8D;
    color: white;
}



.cases {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* background-color: #ECECEC; */
    /* background-color: #7B2869; */
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
}

.icon.ikejaJones, .icon.ikejaAwolowo,.icon.victoriaIsland,.icon.fabac, .icon.ikoyi {
    /* background-color: #7B2869; */
    /* color: #7B2869; */
    color: white;
    /* background-color: #EEEEEE */
}

/* .icon.ikejaJones{
    background-color: #00337C;
    color: #00337C;
    background-color: #EEEEEE
} */

/* .icon.victoriaIsland {
    background-color: #0081B4;
    color: #0081B4;
    background-color: #EEEEEE;
} */

/* .icon.fabac {
    background-color: #FF6E31;
    color: #FF6E31;
    background-color: #EEEEEE;
} */

/* .icon.ikoyi {
    background-color: #579BB1;
    color: #579BB1;
    background-color: #EEEEEE;
} */

.icon.total {
    background-color: #CB1C8D;
}

.figures {
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.figures span:nth-child(1) {
    max-width: max-content;
}

.figures span:nth-child(2) {
    font-size: 10px;
    position: absolute;
    font-style: italic;
}

.status {
    display: flex;
    justify-content: space-between;
}

.Open {
    height: 15px;
    width: 75px;
    background-color: #FFB100;
    color: white;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 0px 0px 10px;
}

.Closed {
    height: 15px;
    width: 75px;
    background-color: #61876E; /* #61876E; */
    color: white;
    /* border: 1px solid salmon; */
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    margin: 20px 10px 0px 0px;
}

@media only screen and (min-width: 320px) and (max-width: 400px){
    .container {
        padding: 5px;
        /* margin-bottom: 50px; */
        width: 100%;
        /* border: 1px solid red; */
    }

    .greetings {
        font-size: 18px;
    }

    .facility_Stats.total {
        width: 100%;
    }

    .facility_Stats.others {
        width: 100%;
    }

    .facility_Stats_icon.ikeja, .facility_Stats_icon.ikejaClinic,
    .facility_Stats_icon.idejo, .facility_Stats_icon.lss,
    .facility_Stats_icon.fabac, .facility_Stats_icon.ikoyi
     {
        margin-left: 83%;
    }

    .facility_Stats_details > .coverPhoto {
        position: absolute;
        /* margin: 90px 0px 0px 130px; */
        margin: 90px 0px 0px 220px;
        /* width: 80px;
        height: 80px; */
        width: 150px;
        height: 150px;
        opacity: 0.2;
    }
    
}

@media screen and (max-width: 480px) {

    .container {
        padding: 5px;
        /* margin-bottom: 50px; */
        width: 97%;
    }

    .stats {
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        width: 100%;
        gap: 9px;
        /* border: 1px solid red; */
    }

    .facility_Stats.total {
        /* display: flex;
        flex-direction: column; */
        width: 98%;
        height: 220px;
        margin-bottom: 10px;
    }

    .facility_Stats {
        /* display: flex;
        flex-direction: column; */
        width: 170px;
        height: 220px;
        margin-bottom: 10px; 
        position: relative;/*  This turns it to the parent of coverPhoto so that */
        overflow: hidden;/*  overflow:hidden will work */
    }

    .coverPhoto {
        position: absolute;
        margin: 120px 0px 0px 110px;
        width: 100px;
        height: 100px;
        opacity: 0.3;
    }

    .coverPhoto.total {
        position: absolute;
        /* margin: 100px 0px 0px 280px;
        width: 65px;
        height: 65px; */
        opacity: 0.3;    
        margin: 90px 0px 0px 200px;
        /* width: 80px;
        height: 80px; */
        width: 150px;
        height: 150px;
    }

    /* .status_Open,  */
    .status_Closed,.status_closed.ikeja,
    .status_closed.idejo,.status_closed.lss,
    .status_closed.fabac,.status_closed.ikoyi {
        margin: 10px 0px 0px 10px;

    }

    .facility_Stats_icon.total{
        height: 50px;
        width: 50px;
        margin-left: 85%;
    }
    
    .facility_Stats_icon.ikeja,
    .facility_Stats_icon.ikejaClinic,.facility_Stats_icon.idejo,
    .facility_Stats_icon.lss,.facility_Stats_icon.fabac,
    .facility_Stats_icon.ikoyi {
        height: 50px;
        width: 50px;
    }


    .facilityStats {
        /* display: flex;
        flex-direction: column; */
        width: 175px;
        height: 200px;
        margin-bottom: 10px;
    }

    .facility {
        padding: 7px;
    }

    .facility.ikejaAwolowo, .facility.ikejaJones, .facility.victoriaIsland, .facility.fabac, .facility.ikoyi, .facility.total {
        font-size: 12px;
    }

    .cases {
        /* margin-top: 10px;
        display: flex;
        justify-content: space-between; */
        padding: 7px;
    }

    .icon {
        font-size: 25px;
    }

    .figures {
        font-size: 45px;
    }

    .Open {
        height: 15px;
        width: 70px;
        font-size: 12px;
        justify-content: space-between;
        align-items: center;
        padding: 3px 5px;
        margin: 20px 0px 0px 5px;
    }

    .Closed {
        height: 15px;
        width: 70px;
        font-size: 12px;
        justify-content: space-between;
        align-items: center;
        padding: 3px 5px;
        margin: 20px 5px 0px 0px;
    }

}