.create-container {
    padding: 10px;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 50px 0px;
}

.create-form-header {
    font-weight:200;
    font-size: 30px;
    margin-bottom: 20px;
}

.create-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    /* width: 600px; */
    width: 95%;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-form form section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 41%;
    padding: 30px;
    border: 1px solid #01579b;
    border-radius: 2em;
}

.create-form form section:nth-child(3) {
    border-style: dashed;
}

.create-form .formInput{
    height: 30px;
    width: 400px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.create-form .formTextArea{
    height: 100px;
    width: 400px;
    padding: 25px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.create-form .formSelect{
    height: 50px;
    width: 400px;
    padding: 25px 5px 5px 5px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.create-form form label {
    color: #01579b;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    margin: -6px 0px 0px -2px;
}

/* .create-form form button {
    background-color: #01579b;
    color: white;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 20px 0px 0px 0px;
    width: 300px;
} */

.upload-container {
    display: flex;
    flex-direction: column;
}

.upload-container span {
    color: #01579b;
    font-size: 15px;
}

.upload-space {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 300px;
    width: 450px;
    justify-content: center;
    align-items: center;
}

.upload-top-icon {
    font-size: 50px;
    /* color: #5FD068; */
    /* color: #03C988; */
    /* color: #1de9b6; */
    /* color: #4caf50; */
    margin-bottom: 30px;
}

.upload-top-icon-placeholder {
    margin: 30px 0px 0px 0px;
    width: 100px;
    height: 100px;
}

.upload-text-holder {
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    max-width: max-content;
    justify-content: space-between;
    align-items: center;
    
}

#custom-file-upload-a {
    font-size: 15px;
    color: black;
    margin: -12px 0px 0px -120px;
    font-weight:300;
}

#custom-file-upload-b {
    font-size: 15px;
    margin: -12px 0px 0px 58px;
}

.upload-text-holder-copy {
    font-size: 14px;
    opacity: 0.4;
}

.upload-text-detail-holder {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    color: #4caf50;
    background-color: #c8e6c9;
    max-width: max-content;
    padding: 5px 10px;
    border-radius: 3px;
    /* margin-bottom: 20px; */
}

.upload-content-holder {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: max-content;
}

.upload-content-holder span {
    margin: -15px 0px 10px 0px;
    color: #01579b;
    /* font-size: 13px; */
    /* border: 1px solid red; */
}

.upload-upload{
    position: relative;
}

.cancel-upload {
    position: absolute;
    background: #000;
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    /* transform: translateX(900%); */
    margin: -10px 0px 0px 475px;
    border: 1px solid white;
}

.cancel-upload.inactive{
    display: none;
}

.upload-image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.upload-image-item-placeholder {
    /* width: 100%; */
    width: 230px;
    /* height: 100%; */
    height: 230px;
    object-fit: cover;
    opacity: 0.6;
}

.upload-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: #b3e5fc;
    color: #01579b;
    border-radius: 20em;
    margin: 20px auto 0px auto;
    padding: 0px 10px;
    cursor: pointer;
    transition: box-shadow 0.6s;
}

.upload-button:hover {
    -webkit-box-shadow: inset 150px 0 0 0 #81d4fa;
    box-shadow: inset 150px 0 0 0 #81d4fa;    
}

.upload-button.inactive {
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-size: 20px;
}

.create-button {
    background-color: #01579b;
    color: white;
    height: 50px;
    border: none;
    border-radius: 20em;
    font-size: 20px;
    margin-top: 20px 0px 0px 0px;
    width: 300px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.create-button:hover {
    -webkit-box-shadow: inset 300px 0 0 0 #0277bd;
    box-shadow: inset 300px 0 0 0 #0277bd;
}

@media screen and (max-width: 480px) {
    .create-form form {
        width: 300px;
    }

    .create-form-header {
        font-size: 20px;
    }

    .create-form form section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 30px;
        border: 1px solid #01579b;
        border-radius: 2em;
    }

    .upload-container span {
        color: #01579b;
        font-size: 13px;
    }
    
    .upload-space {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        height: 100px;
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    
    .upload-top-icon {
        display: none;
        font-size: 50px;
        /* color: #5FD068; */
        /* color: #03C988; */
        /* color: #1de9b6; */
        /* color: #4caf50; */
        margin-bottom: 30px;
    }
    
    .upload-top-icon-placeholder {
        margin: 30px 0px 0px 0px;
        width: 100px;
        height: 100px;
    }
    
    .upload-text-holder {
        margin-bottom: 20px;
        font-size: 11px;
        display: flex;
        flex-direction: row;
        max-width: max-content;
        justify-content: space-between;
        align-items: center;
        
    }
    
    #custom-file-upload-a {
        font-size: 13px;
        color: black;
        margin: -12px 0px 0px -120px;
        font-weight:300;
    }
    
    #custom-file-upload-b {
        font-size: 13px;
        margin: -12px 0px 0px 38px;
    }
    
    .upload-text-holder-copy {
        font-size: 13px;
        opacity: 0.4;
        text-align: center;
    }

    .upload-content-holder {
        width: 300px;
        min-height: 200px;
        max-width: max-content;
    }

    .cancel-upload {
        position: absolute;
        background: #000;
        color: white;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
        /* transform: translateX(900%); */
        margin: -1px 0px 0px 275px;
        border: 1px solid white;
    }

    .create-form .formInput{
        width: 300px;
    }

    .create-form .formTextArea{
        width: 300px;
    }

    .create-form .formSelect{
        width: 300px;
    }
    .create-form form button {
        width: 300px;
    }
}